In [94]:
# Import & Visualizing dataframe
import pandas

file_name = 'mp_filtered.csv.csv'
well_df = pandas.read_csv(file_name)
well_df

         NPHI    RHOB  Lith_new
0       m³/m³   g/cm3       NaN
1         NaN     NaN       NaN
2         NaN     NaN       NaN
3         NaN     NaN       NaN
4         NaN     NaN       NaN
...       ...     ...       ...
30768  0.0711  2.5585      49.0
30769  0.0711  2.5585      49.0
30770  0.0711  2.5585      49.0
30771  0.0711  2.5585      49.0
30772  0.0711  2.5585      49.0

[30773 rows x 3 columns]

In [95]:
import numpy as np
import math
# The well logs units are not necessary, therefore it well be removed
well_df = well_df.iloc[1:]

# The rows where there are blank well logs values (Nan) won't
# contribute in training the model, so it well removed

well_df = well_df.dropna()
well_df
# Next, We'll be intestered only in depth steps where the lithology is either shale (57.0) or 
#sandstone (49.9). So, the depth steps (rows) with codes corresponding to other lithology codes will be removed
well_df.Lith_new.unique()
well_df = well_df.loc[~((well_df['Lith_new'] != 57.0) & (well_df['Lith_new'] != 49.0))] 

well_df

array([57., 49.])